@layer base;

@layer base {
    [data-layout="flex"] {
        /* defaults */
        --flex-direction: row;
        --flex-wrap: wrap;
        --justify-content: space-between;
        --align-items: center;
        --flex-gap: 10px;
        --column-gap: var(--flex-gap);
        --row-gap: var(--flex-gap);
        --flex-width: 100%;

        /* defaults for children */
        --general-min-width: 125px;
        --button-min-width: 20px;
        --flex-basis: 0;
        --shrink: 0;
        --grow: 1;
        --order: unset;

        /* derived variables */
        --gap-min: calc(var(--flex-gap) / 4);
        --gap-half: calc(var(--flex-gap) / 2);
        --gap-double: calc(var(--flex-gap) * 2);
    }
}

[data-layout="flex"] {
    * {
        box-sizing: border-box;
    }
    list-style: none;
    display: flex !important;
    flex-direction: var(--flex-direction);
    flex-wrap: var(--flex-wrap);
    justify-content: var(--justify-content);
    align-items: var(--align-items);
    gap: var(--flex-gap);
    column-gap: var(--column-gap, var(--flex-gap));
    row-gap: var(--row-gap, var(--flex-gap));
    padding-block: var(--gap-half);
    width: min(100%, var(--flex-width));
    > * {
        float: none !important;
        margin: 0 !important;
        min-width: var(--general-min-width);
        flex-basis: var(--flex-basis);
        flex-shrink: var(--shirnk);
        flex-grow: var(--grow);
        order: var(--order);
    }
    /* forms */
    label > {
        span:first-child {
            display: block;
            margin-bottom: var(--gap-min);
        }
        input, select, textarea {
            width: 100% !important;
            border: none !important;
            outline: 1px solid #999;
            &:focus-visible {
                outline: 2px solid #2a82df;
            }
        }
        textarea {
            resize: vertical;
            height: 75px;
            min-height: 75px;
            max-height: 150px;
        }
    }
    :is(input[type="button"], input[type="submit"], button) {
        min-width: var(--button-min-width);
    }
}

@layer base {
    [data-layout="grid"] {
        /* defaults */
        --template-columns: repeat(2, 1fr);
        --grid-gap: 15px;
        --column-gap: var(--grid-gap);
        --row-gap: var(--grid-gap);
        --grid-width: 100%;

        /* defaults for children */
        --span: 2;

        /* derived variables */
        --gap-half: calc(var(--grid-gap) / 2);
        --gap-double: calc(var(--grid-gap) * 2);
    }
}

[data-layout="grid"] {
    * {
        box-sizing: border-box;
    }
    container-type: inline-size;
    display: grid !important;
    gap: var(--grid-gap);
    column-gap: var(--column-gap);
    row-gap: var(--row-gap);
    width: min(100%, var(--grid-width));
    /* Children */
    > * {
        margin: 0 !important;
        width: 100%;
    }
    /* Responsive */
    @container (min-width: 550px) {
        grid-template-columns: var(--template-columns);

        > * {
            &[data-span] {
                grid-column: span var(--span);
            }
        }
    }
}